.title{
    text-align: center;
    justify-content: center;
    align-items: center;

}

.gamescreen {
    display: flex;
}

.myScreen{
    height: 800px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(29, 177, 15, 0.82);
    margin: 50px;
    padding: 50px;
    
}

.oppositeScreen{
    height: 800px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(29, 177, 15, 0.82);
    margin: 50px;
    padding: 50px;
}

.typing{
    position: relative;
    top: 475px;
    /* left: 80px; */
    /* width: 400px; */
    height: 50px;
}


.block {
    width: 10px;
    height: 10px;
    border: 1px solid black;
    
}
